.favorites {
  > section {
    margin: 0 2.5rem;
  }

  .favorites-resource-links-container {
    background: var(--color-white);
    padding: 1rem;
  }

  .favorite-accordion summary {
    background-image: none;
    background-repeat: no-repeat;
  }

  .favorite-accordion summary div:first-of-type {
    border-bottom: solid 0.15rem var(--color-vibrant-red);
    border-image: linear-gradient(
        to right,
        var(--color-vibrant-red) 5rem,
        transparent 10rem
      )
      100% 1;
  }

  .favorites-no-resources {
    align-items: center;
    display: flex;
    font-weight: 700;
    justify-self: center;
    min-height: 12.85rem;
  }

  @media screen and (min-width: 1110px) {
    .favorite-accordion summary {
      background-image: url(/banner/nexus.svg);
      background-position: calc(100% + 2.5rem) 87.2%;
      background-size: 400px;
    }
  }

  @media screen and (min-width: 1200px) {
    .favorite-accordion summary {
      background-position: calc(100% + 100px + 2.5rem) 68%;
      background-size: 600px;
    }
  }
}
