# User settings.
COMPOSE_PROJECT_NAME="<application name>-<user>"
USER=<unix username>
UID=<unix user id>
PASSWORD=<unix user's password. DO NOT USE L3HARRIS PASSWORD>

# Application build settings.
APP_NAME=<application name>
BUILD=<application environment (development|test|demo|staging|production)>
NOTEBOOK_PORT=<port for jupyter notebook server (manage.py shell_plus --notebook)>
SCHEME=<application layer protocol (http|https)>
SERVER_HOST=<hostname for api server>
SERVER_PORT=<port for api server>
WEB_HOST=<hostname for web app>
WEB_PORT=<port for web app>

# Database settings.
POSTGRES_NAME=<name of postgres database>
POSTGRES_USER=<username for postgres database>
POSTGRES_PASSWORD=<password for postgres database>
POSTGRES_HOST=<hostname for postgres database>
POSTGRES_PORT=<port for postgres database>
POSTGRES_ATOMIC_REQUESTS=<boolean whether to wrap request in a transaction (True|False)>

# Redis cache settings.
REDIS_CACHE_PASSWORD=<password for Redis cache>
REDIS_CACHE_HOST=<hostname for Redis cache>
REDIS_CACHE_PORT=<port for Redis cache>

# Redis channel settings.
REDIS_CHANNEL_PASSWORD=<password for Redis channel (cache for websockets)>
REDIS_CHANNEL_HOST=<hostname for Redis channel (cache for websockets)>
REDIS_CHANNEL_PORT=<port for Redis channel (cache for websockets)>

# Redis task queue settings.
REDIS_TASKQUEUE_PASSWORD=<(optional) password for Redis task queue (Same as REDIS_CACHE_PASSWORD)>
REDIS_TASKQUEUE_HOST=<hostname for Redis task queue(django-rq)>
REDIS_TASKQUEUE_PORT=<(optional) port for Redis task queue (Same as REDIS_CACHE_PORT)>

# Swagger settings.
SWAGGER_PORT=<port for Swagger>

# Django Server settings.
ADMINS=<semicolon(;) separated list of admin emails>
DEFAULT_FROM_EMAIL=<sender for email sent from api>
LANGUAGE_CODE=<the code for the language of the web page>
SECRET_KEY=<encryption key Django uses for hashing>
SERVER_LOG_LEVEL=<minimum level to log a message with a log handler (DEBUG|INFO|ERROR)>
SERVER_SECURE_SSL_REDIRECT=<boolean whether to redirect http requests to https (True|False)>
SERVER_TIME_ZONE=<timezone for api server>

# TLS/SSL settings.
SSL_DIRECTORY=<directory that contains ssl certs>
SSL_CERT=<filename for signed ssl certificate>
SSL_KEY=<filename for private key to the certificate>
SSL_PASS=<filename for passphrase>

# Service settings.
LDAP_SEARCH_ENDPOINT=<full url for ldap service>
SSO_ORIGIN=<origin for sso service>
SSO_DEVELOPMENT_USER_FIRST_NAME=<first name for sso dev user>
SSO_DEVELOPMENT_USER_LAST_NAME=<last name for sso dev user>
SSO_SERVICE_ENCRYPTION_KEY=<encryption key to decrypt sso auth packet>

# Nginx configs.
TIMEOUT_SECONDS=<Number of seconds to wait to timeout a request>

# Docker Compose settings.
DOCKER_COMPOSE_PROJECT_ROOT=<absolute path to the project directory>
DOCKER_COMPOSE_API_BUILD_TARGET=<build as described in api/Dockerfile (wsgi-development|asgi-development|wsgi-production|asgi-production)>
DOCKER_COMPOSE_WEB_BUILD_TARGET=<build as described in web/Dockerfile (development | production)>
DOCKER_COMPOSE_BUILD_TAG=<build tag for app images>
