# User settings.
COMPOSE_PROJECT_NAME="<application name>-<user>"
USER=<unix username>
UID=<unix user id>
PASSWORD=<unix user's password. DO NOT USE L3HARRIS PASSWORD>

# Application build settings.
APP_NAME=<application name>
APP_TITLE=<application web title>
BUILD=<application environment (development|test|demo|staging|production)>
DNS_NAME=<domain name for application>
NOTEBOOK_PORT=<port for jupyter notebook server (manage.py shell_plus --notebook)>
SCHEME=<application layer protocol (http|https)>
SERVER_HOST=<hostname for api server>
SERVER_PORT=<port for api server>
WEB_HOST=<hostname for web app>
WEB_PORT=<port for web app>

# Database settings.
POSTGRES_NAME=<name of postgres database>
POSTGRES_USER=<username for postgres database>
POSTGRES_PASSWORD=<password for postgres database>
POSTGRES_HOST=<hostname for postgres database>
POSTGRES_PORT=<port for postgres database>
POSTGRES_ATOMIC_REQUESTS=<boolean whether to wrap request in a transaction (True|False)>
## Program Review Tool Database settings.
POSTGRES_PROGRAM_REVIEW_TOOL_NAME=<name of program review tool postgres database>
POSTGRES_PROGRAM_REVIEW_TOOL_USER=<username for program review tool postgres database>
POSTGRES_PROGRAM_REVIEW_TOOL_PASSWORD=<password for program review tool postgres database>
## FDW Database settings.
FDW_DATABASE_NAME=<name of fdw database>
FDW_DATABASE_USER=<username for fdw database>
FDW_DATABASE_PASSWORD=<password for fdw database>
FDW_DATABASE_HOST=<hostname for fdw database>
FDW_DATABASE_PORT=<port for fdw database>
## AXIS Database setttings.
AXIS_DATABASE_NAME=<name of axis database>
AXIS_DATABASE_USER=<username for axis database>
AXIS_DATABASE_PASSWORD=<password for axis database>
AXIS_DATABASE_HOST=<hostname for axis database>
AXIS_DATABASE_PORT=<port for axis database>
## External Database settings.
EXTERNAL_SOURCE_DATABASE=<choice for external database source (fdw, axis, etc)>

# Redis cache settings.
REDIS_CACHE_PASSWORD=<password for Redis cache>
REDIS_CACHE_HOST=<hostname for Redis cache>
REDIS_CACHE_PORT=<port for Redis cache>

# Redis channel settings.
REDIS_CHANNEL_PASSWORD=<password for Redis channel (cache for websockets)>
REDIS_CHANNEL_HOST=<hostname for Redis channel (cache for websockets)>
REDIS_CHANNEL_PORT=<port for Redis channel (cache for websockets)>

# Redis task queue settings.
REDIS_TASKQUEUE_PASSWORD=<(optional) password for Redis task queue (Same as REDIS_CACHE_PASSWORD)>
REDIS_TASKQUEUE_HOST=<hostname for Redis task queue(django-rq)>
REDIS_TASKQUEUE_PORT=<(optional) port for Redis task queue (Same as REDIS_CACHE_PORT)>

# Storybook build settings.
STORYBOOK_WEB_PORT=<port for storybook>

# Swagger settings.
SWAGGER_PORT=<port for Swagger>

# Tableau settings.
CA_CERTIFICATE_FOR_TABLEAU=<path to certificate chain file used for connecting to Tableau>
TABLEAU_PERSONAL_ACCESS_TOKEN_NAME=<Name of the Personal Access Token (PAT) used to connect to Tableau>
TABLEAU_PERSONAL_ACCESS_TOKEN_SECRET=<Tableau Personal Access Token (PAT) secret>
TABLEAU_SERVER=<URL of the L3Harris Tableau server>

# Django Server settings.
ADMINS=<semicolon(;) separated list of admin emails>
DEFAULT_FROM_EMAIL=<sender for email sent from api>
LANGUAGE_CODE=<the code for the language of the web page>
SECRET_KEY=<encryption key Django uses for hashing>
SERVER_LOG_LEVEL=<minimum level to log a message with a log handler (DEBUG|INFO|ERROR)>
SERVER_SECURE_SSL_REDIRECT=<boolean whether to redirect http requests to https (True|False)>
SERVER_TIME_ZONE=<timezone for api server>

# Data Encryption settings.
DATA_ENCRYPTION_KEY=<encryption key used to encrypt sensitive data>

# TLS/SSL settings.
CA_CERTIFICATE_FOR_API=<path to root certificate>
SSL_DIRECTORY=<directory that contains ssl certs>
SSL_CERT=<filename for signed ssl certificate>
SSL_KEY=<filename for private key to the certificate>
SSL_PASS=<filename for passphrase>

# Service settings.
LDAP_SEARCH_ENDPOINT=<full url for ldap service>
SSO_ORIGIN=<origin for sso service>
SSO_DEVELOPMENT_USER_FIRST_NAME=<first name for sso dev user>
SSO_DEVELOPMENT_USER_LAST_NAME=<last name for sso dev user>
SSO_SERVICE_ENCRYPTION_KEY=<encryption key to decrypt sso auth packet>

# Nginx configs.
TIMEOUT_SECONDS=<Number of seconds to wait to timeout a request>

# Docker Compose settings.
DOCKER_COMPOSE_PROJECT_ROOT=<absolute path to the project directory>
DOCKER_COMPOSE_API_BUILD_TARGET=<build as described in api/Dockerfile (wsgi-development|asgi-development|wsgi-production|asgi-production)>
DOCKER_COMPOSE_WEB_BUILD_TARGET=<build as described in web/Dockerfile (development | production)>
DOCKER_COMPOSE_BUILD_TAG=<build tag for app images>
