.favorite-link:hover ~ .favorite-button svg:not([data-testid="faStar-icon"]) {
  visibility: visible;
}

.favorite-button svg:not([data-testid="faStar-icon"]) {
  visibility: hidden;
}

.favorite-button:hover svg:not([data-testid="faStar-icon"]) {
  visibility: visible;
}
