.function-buttons {
  height: fit-content;
  margin: 1rem 2.5rem 1rem 2.5rem;
}

.function-buttons header {
  color: var(--color-stealth);
}

.function-buttons + hr {
  margin: 0.5rem 1rem;
}

.role-buttons {
  position: relative;
}

.role-buttons-background {
  background-color: var(--color-stealth);
  background-image: url("/banner/nexus.svg");
  background-position: calc(100% + 95px) -50px;
  background-repeat: no-repeat;
  background-size: 600px;
  border-top: solid 1px var(--color-grayscale-2);
  height: 10rem;
}

.role-buttons div[class*="filter-buttons-row"] {
  left: 2.5rem;
  right: 2.5rem;
  position: absolute;
  top: 50%;
}

.role-buttons h1 {
  color: var(--color-grayscale-2);
  font-size: 2.2rem;
  font-weight: 500;
  left: 2.5rem;
  position: absolute;
  top: -5%;
}

.role-buttons header {
  color: var(--color-white);
}

.role-buttons header + div {
  margin-left: 3rem;
}

@media screen and (max-width: 581px) {
  .role-buttons-background {
    height: 14rem;
  }

  .role-buttons div[class*="filter-buttons-row"] {
    top: 1rem;
  }
}

@media screen and (max-width: 764px) {
  .role-buttons h1 {
    display: none;
  }

  .role-buttons div[class*="filter-buttons-row"] {
    top: 1rem;
  }
}

@media screen and (max-width: 1110px) {
  .role-buttons-background {
    background-image: none;
  }
}

@media screen and (max-width: 1200px) {
  .role-buttons-background {
    background-position: 100% 0px;
    background-size: 400px;
  }
}
