.function-buttons {
  height: fit-content;
  margin: 1rem 2.5rem 0rem 2.5rem;
}

.function-buttons header {
  color: var(--color-stealth);
}

.function-buttons + hr {
  margin: 0.5rem 1rem;
}

.role-buttons {
  position: relative;
}

.role-buttons-background {
  background-image: url("/banner/bi_portal_controls_banner.svg");
  background-size: cover;
  height: 10rem;
}

.role-buttons div[class*="filter-buttons-row"] {
  left: 2.5rem;
  right: 2.5rem;
  position: absolute;
  top: 50%;
}

.role-buttons header {
  color: var(--color-white);
}

.role-buttons header + div {
  margin-left: 3rem;
}

@media screen and (max-width: 530px) {
  .role-buttons-background {
    height: 14rem;
  }
  .role-buttons div[class*="filter-buttons-row"] {
    top: 1rem;
  }
}

@media screen and (max-width: 714px) {
  .role-buttons div[class*="filter-buttons-row"] {
    top: 1rem;
  }
}
