@import url("colors.css");
@import url("zIndex.css");
html {
  height: 100%;
  overflow-y: hidden;
  width: 100%;
}

body {
  background: var(--color-light-gray);
  font-family: "IBM Plex Sans", sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
}

nav[class*="search-bar"]:not([class="search-bar-small-screen"]),
nav[class*="search-bar"]:not([class="search-bar-small-screen"])
  ul[class*="search-bar-items"] {
  height: 55px;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#page-content {
  container-type: inline-size;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 0.4em;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-light-gray);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-medium-gray);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark-gray);
}
