.filterable-resource-links-container {
  background: var(--color-white);
  border-left: solid 1px var(--color-gray);
  border-right: solid 1px var(--color-gray);
  min-height: 15rem;
  padding: 1rem;
}
