.faq-modal {
    animation: slide-in 250ms;
    border-color: white;
    height: 100%;
    left: 100%;
    margin: 0;
    position: absolute;
    transform: translateX(-100%);
    width: 30%;
}

.faq-modal::backdrop {
    background: rgb(0, 0, 0, 0.4);
}

.faq-modal-content {
    display: flex;
    flex-direction: column;
}

.faq-modal-content p {
    color: var(--color-stealth);
    margin: 0;
    padding: 0 0.5rem 0.5rem 2rem;
}

.faq-modal-content summary {
    color: var(--color-stealth);
    cursor: pointer;
    display: flex;
    font-size: large;
    font-weight: bold;
    padding: 0.75rem;
    transition: margin 150ms ease-out;
}

.faq-modal-content details:hover summary {
    background: var(--color-light-gray);
    border-radius: 4px;
}

.faq-modal-content details[open] summary {
    margin-bottom: 0.5rem;
}

.faq-modal-header-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.faq-modal-header-row button {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

.faq-modal-header-row button svg {
    visibility: visible;
}

.faq-modal-header-row button:focus-visible {
    outline: transparent;
}

.faq-modal-header-row button:hover {
    color: var(--color-gray);
}

.faq-modal-header-row h2 {
    color: var(--color-stealth);
    margin: 0.5rem 0 0 0.75rem;
}

@keyframes slide-in {
    0% {
        width: 20%;
    }
    100% {
        width: 30%;
    }
}
