openapi: 3.0.0
info:
  title: "{{APP_NAME}}"
  version: "1.0"
servers:
  - url: "{{SERVER_URL}}"
paths:
  /analytics/queries:
    post:
      tags:
        - "analytics.query.create"
      summary: "Create a Query."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateQueryRequest"
      responses:
        "201":
          description: "CREATED"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/CreateQueryResponse"
        "401":
          description: "UNAUTHORIZED"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/CreateQueryUnauthorizedResponse"
  /analytics/visits:
    post:
      tags:
        - "analytics.visit.create"
      summary: "Create a Visit."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateVisitRequest"
      responses:
        "201":
          description: "CREATED"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/CreateVisitResponse"
        "401":
          description: "UNAUTHORIZED"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/CreateVisitUnAuthorizedResponse"              
        "404":
          description: "Resource does not exist."
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/CreateVisitResourceDoesNotExistErrorResponse"
  /directory/employee-levels:
    get:
      tags:
        - "directory.employeelevel.fetch"
      summary: "Fetch EmployeeLevel(s)."
      parameters:
        - in: query
          name: id
          schema:
            type: integer
          description: Primary key of the `EmployeeLevel` record
            to fetch.
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/FetchEmployeeLevelsResponse"
                  - $ref: "#/components/schemas/FetchEmployeeLevelByIdResponse"                 
        "404":
          description: "Employee Level does not exist for given id."
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/FetchEmployeeLevelByIdDoesNotExistResponse"
  /directory/functions:
    get:
      tags:
        - "directory.function.fetch"
      summary: "Fetch Function(s)."
      parameters:
        - in: query
          name: id
          schema:
            type: integer
          description: Primary key of the `Function` record
            to fetch.
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/FetchFunctionsResponse"
                  - $ref: "#/components/schemas/FetchFunctionByIdResponse"                 
        "404":
          description: "Function does not exist for given id."
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/FetchFunctionByIdDoesNotExistResponse"
  /directory/resources/search:
    post:
      tags:
        - "directory.resources.search"
      summary: "Search for Resources."
      parameters:
        - in: query
          name: page
          schema:
            type: integer
          description: Page number to select from a paginated response of
            `Resource` records.
        - in: query
          name: limit
          schema:
            type: integer
          description: Maximum number of `Resource` records to return.        
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResourceSearchRequest"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ResourceSearchFunctreeStructureSerializedResponse"
                  - $ref: "#/components/schemas/ResourceSearchDefaultStructureResponse"                 
        "400":
          description: "Missing parameter or invalid parameter."
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ResourceSearchMissingParameterErrorResponse"
                  - $ref: "#/components/schemas/ResourceSearchInvalidParameterErrorResponse"
  /directory/subfunctions:
    get:
      tags:
        - "directory.subfunction.fetch"
      summary: "Fetch SubFunction(s)."
      parameters:
        - in: query
          name: id
          schema:
            type: integer
          description: Primary key of the `SubFunction` record
            to fetch.
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/FetchSubFunctionsResponse"
                  - $ref: "#/components/schemas/FetchSubFunctionByIdResponse"                 
        "404":
          description: "SubFunction does not exist for given id."
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/FetchSubFunctionByIdDoesNotExistResponse"
  /directory/tags:
    get:
      tags:
        - "directory.tag.fetch"
      summary: "Fetch Tag(s)."
      parameters:
        - in: query
          name: id
          schema:
            type: integer
          description: Primary key of the `Tag` record
            to fetch.
        - in: query
          name: page
          schema:
            type: integer
          description: Page number to select from a paginated response of
            `Tag` records.
        - in: query
          name: limit
          schema:
            type: integer
          description: Maximum number of `Tag` records to return.
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/FetchTagsResponse"
                  - $ref: "#/components/schemas/FetchTagByIdResponse"
        "400":
          description: "Invalid parameters."
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/FetchTagsInvalidParametersErrorResponse"
        "404":
          description: "Tag does not exist for given id."
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/FetchTagByIdDoesNotExistResponse"     
  /directory/tags/search:
    get:
      tags:
        - "directory.tag.search"
      summary: "Search for Tags based on the given label."
      parameters:
        - in: query
          name: label
          schema:
            type: string
          description: "Label that will be used to search for Tags."
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/SearchTagsResponse"
  /preferences/favorites:
    post:
      tags:
        - "preferences.favorite.create"
      summary: "Create a Favorite."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateFavoriteRequest"
      responses:
        "201":
          description: "CREATED"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/CreateFavoriteResponse"
        "400":
          description: "BAD REQUEST"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/CreateFavoriteBadRequestResponse"
        "401":
          description: "UNAUTHORIZED"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/CreateFavoriteUnAuthorizedResponse"              
        "404":
          description: "User or Resource does not exist."
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/CreateFavoriteUserDoesNotExistResponse"
                  - $ref: "#/components/schemas/CreateFavoriteResourceDoesNotExistResponse"
  /preferences/query-filter-state:
    post:
      tags:
        - "preferences.queryfilterstate.create"
      summary: "Create a QueryFilterState."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateQueryFilterStateRequest"
      responses:
        "201":
          description: "CREATED"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/CreateQueryFilterStateResponse"
        "401":
          description: "UNAUTHORIZED"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/CreateQueryFilterStateUnAuthorizedResponse"              
        "404":
          description: "Query, Function, EmployeeLevel, or Tag does not exist."
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/CreateQueryFilterStateQueryDoesNotExistErrorResponse"
                  - $ref: "#/components/schemas/CreateQueryFilterStateFunctionDoesNotExistErrorResponse"
                  - $ref: "#/components/schemas/CreateQueryFilterStateEmployeeLevelDoesNotExistErrorResponse"
                  - $ref: "#/components/schemas/CreateQueryFilterStateTagDoesNotExistErrorResponse"
    get:
      tags:
        - "preferences.queryfilterstate.fetch"
      summary: "Fetch a user's QueryFilterState based on the given email."
      parameters:
        - in: query
          name: user
          schema:
            type: string
          description: "User's email related to the desired `QueryFilterState`."
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/FetchQueryFilterStateResponse"
        "401":
          description: "UNAUTHORIZED"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/FetchQueryFilterStateUnAuthorizedResponse"
        "404":
          description: "User, or QueryFilterState does not exist."
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/FetchQueryFilterStateUserDoesNotExistResponse"
                  - $ref: "#/components/schemas/FetchQueryFilterStateQueryFilterStateForUserDoesNotExistResponse"
    put:
      tags:
        - "preferences.queryfilterstate.update"
      summary: "Update a QueryFilterState."
      parameters:
        - in: query
          name: id
          schema:
            type: integer
          description: Primary key of the `QueryFilterState` record
            to update.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateQueryFilterStateRequest"
      responses:
        "201":
          description: "UPDATED"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/UpdateQueryFilterStateResponse"
        "401":
          description: "UNAUTHORIZED"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/UpdateQueryFilterStateUnAuthorizedResponse"
        "403":
          description: "FORBIDDEN"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/UpdateQueryFilterStateForbiddenErrorResponse"
        "404":
          description: "QueryFilterState, Query, Function, EmployeeLevel, or Tag does not exist."
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/UpdateQueryFilterStateQueryFilterStateDoesNotExistErrorResponse"
                  - $ref: "#/components/schemas/UpdateQueryFilterStateQueryDoesNotExistErrorResponse"
                  - $ref: "#/components/schemas/UpdateQueryFilterStateFunctionDoesNotExistErrorResponse"
                  - $ref: "#/components/schemas/UpdateQueryFilterStateEmployeeLevelDoesNotExistErrorResponse"
                  - $ref: "#/components/schemas/UpdateQueryFilterStateTagDoesNotExistErrorResponse"  
  /users/profile:
    get:
      tags:
        - "users.profile.fetch"
      summary: "Fetch a user's Profile based on the given email."
      parameters:
        - in: query
          name: user
          schema:
            type: string
          description: "User's email related the desired profile."
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/FetchProfileResponse"
        "401":
          description: "UNAUTHORIZED"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/FetchProfileUnAuthorizedResponse"
        "403":
          description: "FORBIDDEN"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/FetchProfilePermissionsDeniedResponse"   


components:
  schemas:
    CreateQueryRequest:
      title: "Create `Query` request."
      type: object
      properties:
        search_term:
          type: string
          description: A search term used when searching for resources.

    CreateQueryResponse:
      title: "Create `Query` response."
      type: object
      properties:
        data:
          type: object
          description: The created `Query`.
          example:
            {
              "user":
                {
                  "id": 1,
                  "username": "May.Parker@harris.com",
                  "email": "May.Parker@harris.com",
                  "first_name": "May",
                  "last_name": "Parker",
                  "is_active": True,
                },
              "resources":
                [
                  {
                    "id": 1,
                    "employee_levels":
                      [
                        {
                          "id": 1,
                          "name": "Employee",
                          "description": "Employee Level 1.",
                          "created": "2024-08-27T12:00:00-04:00",
                          "modified": "2024-08-27T12:00:00-04:00",
                          "level": 1,
                        },
                        {
                          "id": 2,
                          "name": "Manager",
                          "description": "Manager Level 1.",
                          "created": "2024-08-27T12:00:00-04:00",
                          "modified": "2024-08-27T12:00:00-04:00",
                          "level": 2,
                        },
                        ...,
                      ],
                    "subfunctions":
                      [
                        {
                          "id": 1,
                          "function":
                            {
                              "id": 1,
                              "name": "Human Resources",
                              "description": "Function 1.",
                              "created": "2024-08-27T12:00:00-04:00",
                              "modified": "2024-08-27T12:00:00-04:00",
                            },
                          "name": "Training",
                          "description": "Function 1 SubFunction 1.",
                          "created": "2024-08-27T12:00:00-04:00",
                          "modified": "2024-08-27T12:00:00-04:00",
                        },
                        ...,
                      ],
                    "tags":
                      [
                        {
                          "id": 1,
                          "created": "2024-08-27T12:00:00-04:00",
                          "modified": "2024-08-27T12:00:00-04:00",
                          "label": "filter::site:Melbourne",
                        },
                        ...,
                      ],
                    "description": "popstick.",
                    "created": "2024-08-27T12:00:00-04:00",
                    "uid": "f6a31db2-5271-401a-901e-9220e0e4cda2",
                    "revision_number": 1,
                    "name": "Resource 1 Revision 1",
                    "url": "example.org",
                    "thumbnail": "/v1/media/resources/thumbnails/f6a31db2-5271-401a-901e-9220e0e4cda2/1/resource_1.png",
                    "type": "Resource Type 1",
                    "download": False,
                    "active": True,
                    "previous_revision": None,
                  },
                  {
                    "id": 2,
                    "employee_levels":
                      [
                        {
                          "id": 1,
                          "name": "Employee",
                          "description": "Employee Level 1.",
                          "created": "2024-08-27T12:00:00-04:00",
                          "modified": "2024-08-27T12:00:00-04:00",
                          "level": 1,
                        },
                        {
                          "id": 2,
                          "name": "Manager",
                          "description": "Manager Level 1.",
                          "created": "2024-08-27T12:00:00-04:00",
                          "modified": "2024-08-27T12:00:00-04:00",
                          "level": 2,
                        },
                        ...,
                      ],
                    "subfunctions":
                      [
                        {
                          "id": 1,
                          "function":
                            {
                              "id": 1,
                              "name": "Human Resources",
                              "description": "Function 1.",
                              "created": "2024-08-27T12:00:00-04:00",
                              "modified": "2024-08-27T12:00:00-04:00",
                            },
                          "name": "Training",
                          "description": "Function 1 SubFunction 1.",
                          "created": "2024-08-27T12:00:00-04:00",
                          "modified": "2024-08-27T12:00:00-04:00",
                        },
                        ...,
                      ],
                    "tags":
                      [
                        {
                          "id": 1,
                          "created": "2024-08-27T12:00:00-04:00",
                          "modified": "2024-08-27T12:00:00-04:00",
                          "label": "filter::site:Melbourne",
                        },
                        ...,
                      ],
                    "description": "ripstick.",
                    "created": "2024-08-27T12:00:00-04:00",
                    "uid": "2ca5ca29-5dbb-4333-99d3-750e30b1ed48",
                    "revision_number": 1,
                    "name": "Resource 2 Revision 1",
                    "url": "example.gov",
                    "thumbnail": "/v1/media/resources/thumbnails/2ca5ca29-5dbb-4333-99d3-750e30b1ed48/2/resource_2.png",
                    "type": "Resource Type 2",
                    "download": False,
                    "active": True,
                    "previous_revision": None,
                  },
                  ...,
                ],
              "search_term": "Resource",
            }

    CreateQueryUnauthorizedResponse:
      title: "Create `Query` error response due to unauthorized access."
      example: "Not authorized to access resource."

    CreateVisitRequest:
      title: "Create `Visit` request."
      type: object
      properties:
        resource:
          type: integer
          description: Id of the `Resource` that is being
            visited.
          default: 1
    
    CreateVisitResponse:
      title: "Create `Visit` response."
      type: object
      properties:
        data:
          type: object
          description: The created `Visit`.
          example:
            {
              "id": 1,
              "resource": {
                  "id": 1,
                  "uid": "00000000-0000-0000-0000-000000000000",
                  "previous_revision": null,
                  "revision_number": 0,
                  "name": "Resource 1 Name",
                  "description": "Resource 1 Description.",
                  "url": "www.example.com",
                  "thumbnail": "/path/to/resource/thumbnail",
                  "employee_levels": [
                    {
                      "id": 1,
                      "name": "Employee Level 1 Name",
                      "created": "1970-01-01T12:00:00-04:00",
                      "modified": "1970-01-01T12:00:00-04:00",
                    },
                    ...
                  ],
                  "subfunctions": [
                    {
                      "id": 1,                   
                      "name": "Function 1 SubFunction 1 Name",
                      "description": "Function 1 SubFunction 1 Description.",
                      "function": {
                        "id": 1,
                        "name": "Function 1 Name",
                        "description": "Function 1 Description.",
                        "created": "1970-01-01T12:00:00-04:00",
                        "modified": "1970-01-01T12:00:00-04:00",
                      },
                      "created": "1970-01-01T12:00:00-04:00",
                      "modified": "1970-01-01T12:00:00-04:00",
                    },
                    ...
                  ],
                  "tags": [
                    {
                      "id": 1,
                      "created": "1970-01-01T12:00:00-04:00",
                      "modified": "1970-01-01T12:00:00-04:00",
                      "label": "filter::site:Test",
                    },
                    ...
                  ],
                  "type": "Resource Type 1",
                  "download": false,
                  "active": true,
                  "created": "1970-01-01T12:00:00-04:00",
                },
              "user": "Test.User@harris.com"
            }

    CreateVisitUnAuthorizedResponse:
      title: "Create `Visit` error response due to unauthorized access."
      example: "Not authorized to access resource."
    
    CreateVisitResourceDoesNotExistErrorResponse:
      title: "Create `Visit` error response due to supplying an id
        for a `Resource` that does not exist."
      example: "Resource (id=resource_id), does not exist."

    ResourceSearchRequest:
      title: "`Resource` search request."
      type: object
      properties:
        name:
          type: string
          description: Name of the `Resource`.
          default: ''         
        description:
          type: string
          description: Description of the `Resource`.
          default: ''
        functions:
          type: array[int]          
          description:
            A list of `Function` ids related to `SubFunction`s related to a `Resource`.
          default: []
        subfunctions:
          type: array[int]
          description:
            A list of `SubFunction` ids related to a `Resource`.
          default: []
        employee_levels:
          type: array[int]
          default: []
          description:
            A list of `EmployeeLevel` ids related to a `Resource`.
        tags:
          type: array[int]
          description:
            A list of `Tag` ids related to a `Resource`.
          default: []
        download:
          type: boolean
          description:
            Indicates whether a `Resource` should be downloadable
            or not.
          default: null
        structure:
          type: string
          description:
            "Indicates the structure of the search response.
            Accepted values: default, functree."
          default: default       
    ResourceSearchDefaultStructureResponse:
      title: "`Resource` search response with `default` structure."
      type: object
      properties:
        data:
          type: array
          description: A collection of serialized `Resource`s that match the search criteria.
          items:
            type: object
          example:
            [
              {
                "id": 1,
                "uid": "00000000-0000-0000-0000-000000000000",
                "previous_revision": null,
                "revision_number": 0,
                "name": "Resource 1 Name",
                "description": "Resource 1 Description.",
                "url": "www.example.com",
                "thumbnail": "/path/to/resource/thumbnail",
                "employee_levels": [
                  {
                    "id": 1,
                    "name": "Employee Level 1 Name",
                    "created": "1970-01-01T12:00:00-04:00",
                    "modified": "1970-01-01T12:00:00-04:00",
                  },
                  ...
                ],
                "subfunctions": [
                  {
                    "id": 1,                   
                    "name": "Function 1 SubFunction 1 Name",
                    "description": "Function 1 SubFunction 1 Description.",
                    "function": {
                      "id": 1,
                      "name": "Function 1 Name",
                      "description": "Function 1 Description.",
                      "created": "1970-01-01T12:00:00-04:00",
                      "modified": "1970-01-01T12:00:00-04:00",
                    },
                    "created": "1970-01-01T12:00:00-04:00",
                    "modified": "1970-01-01T12:00:00-04:00",
                  },
                  ...
                ],
                "tags": [
                  {
                    "id": 1,
                    "created": "1970-01-01T12:00:00-04:00",
                    "modified": "1970-01-01T12:00:00-04:00",
                    "label": "filter::site:Test",
                  },
                  ...
                ],
                "type": "Resource Type 1",
                "download": false,
                "active": true,
                "created": "1970-01-01T12:00:00-04:00",
              },
              ...
            ]

    ResourceSearchFunctreeStructureSerializedResponse:
      title: "`Resource` search response with `functree` structure and serialized `Resource`s."
      type: object
      properties:
        data:
          type: object
          description: 
            A collection of serialized `Resource`s grouped by their `SubFunction`s and their
            respective parent `Function`s.         
          example:           
            {
              "Function 1 Name": {
                "Function 1 SubFunction 1 Name": [
                  {
                    "id": 1,
                    "uid": "00000000-0000-0000-0000-000000000000",
                    "previous_revision": null,
                    "revision_number": 0,
                    "name": "Resource 1 Name",
                    "description": "Resource 1 Description.",
                    "url": "www.example.com",
                    "thumbnail": "/path/to/resource/thumbnail",
                    "employee_levels": [
                      {
                        "id": 1,
                        "name": "Employee Level 1 Name",
                        "created": "1970-01-01T12:00:00-04:00",
                        "modified": "1970-01-01T12:00:00-04:00",
                      },
                      ...
                    ],
                    "subfunctions": [
                      {
                        "id": 1,                        
                        "name": "Function 1 SubFunction 1 Name",
                        "description": "Function 1 SubFunction 1 Description.",
                        "function": {
                          "id": 1,
                          "name": "Function 1 Name",
                          "description": "Function 1 Description.",
                          "created": "1970-01-01T12:00:00-04:00",
                          "modified": "1970-01-01T12:00:00-04:00",
                        },
                        "created": "1970-01-01T12:00:00-04:00",
                        "modified": "1970-01-01T12:00:00-04:00",
                      },
                      ...
                    ],
                    "tags": [
                      {
                        "id": 1,
                        "created": "1970-01-01T12:00:00-04:00",
                        "modified": "1970-01-01T12:00:00-04:00",
                        "label": "filter::site:Test",
                      },
                      ...
                    ],
                    "type": "Resource Type 1",
                    "download": false,
                    "active": true,
                    "created": "1970-01-01T12:00:00-04:00",
                    "favorited_by": ["Some.User@harris.com", "Test.User@harris.com", ...],
                    "site": ["Location 1", "Location 2", ...],
                    "restricted": {"department": ["Department 1",...], ...}
                  },
                  ...
                ],
                ...
              },
              ...
            }
  
    ResourceSearchMissingParameterErrorResponse:
      title: "`Resource` search error response due to a missing parameter."      
      example: "Missing parameter: `name` from search parameters."

    ResourceSearchInvalidParameterErrorResponse:
      title: "`Resource` search error response due to an invalid parameter."
      example: "Incorrect value given for a search parameter."

    CreateFavoriteRequest:
      title: "Create `Favorite` request."
      type: object
      properties:
        resource:
          type: integer
          description: Id of the `Resource` being favorited.
          default: 1

    CreateFavoriteResponse:
      title: "Create `Favorite` response."
      type: object
      properties:
        data:
          type: object
          description: A created `Favorite`.
          example:
            {
              "id": 1,
              "user": {
                  "id": 1,
                  "username": "May.Parker@harris.com",
                  "email": "May.Parker@harris.com",
                  "first_name": "May",
                  "last_name": "Parker",
                  "is_active": True
              },
              "resource": {
                  "id": 3,
                  "employee_levels": [
                      {
                          "id": 1,
                          "name": "Employee",
                          "description": "Employee Level 1.",
                          "created": "2024-08-27T12:00:00-04:00",
                          "modified": "2024-08-27T12:00:00-04:00",
                          "level": 1
                      },
                      {
                          "id": 2,
                          "name": "Manager",
                          "description": "Manager Level 1.",
                          "created": "2024-08-27T12:00:00-04:00",
                          "modified": "2024-08-27T12:00:00-04:00",
                          "level": 2
                      },
                      {
                          "id": 3,
                          "name": "Executive",
                          "description": "Executive Level 1.",
                          "created": "2024-08-27T12:00:00-04:00",
                          "modified": "2024-08-27T12:00:00-04:00",
                          "level": 3
                      },
                      ...
                  ],
                  "subfunctions": [
                      {
                          "id": 2,
                          "function": {
                              "id": 1,
                              "name": "Human Resources",
                              "description": "Function 1.",
                              "created": "2024-08-27T12:00:00-04:00",
                              "modified": "2024-08-27T12:00:00-04:00"
                          },
                          "name": "Recruiting",
                          "description": "Function 1 SubFunction 2.",
                          "created": "2024-08-27T12:00:00-04:00",
                          "modified": "2024-08-27T12:00:00-04:00"
                      },
                      {
                          "id": 1,
                          "function": {
                              "id": 1,
                              "name": "Human Resources",
                              "description": "Function 1.",
                              "created": "2024-08-27T12:00:00-04:00",
                              "modified": "2024-08-27T12:00:00-04:00"
                          },
                          "name": "Training",
                          "description": "Function 1 SubFunction 1.",
                          "created": "2024-08-27T12:00:00-04:00",
                          "modified": "2024-08-27T12:00:00-04:00"
                      },
                      ...
                  ],
                  "tags": [
                      {
                          "id": 1,
                          "created": "2024-08-27T12:00:00-04:00",
                          "modified": "2024-08-27T12:00:00-04:00",
                          "label": "filter::site:Melbourne"
                      },
                      {
                          "id": 2,
                          "created": "2024-08-27T12:00:00-04:00",
                          "modified": "2024-08-27T12:00:00-04:00",
                          "label": "filter::site:Rochester"
                      },
                      ...
                  ],
                  "description": "Resource 3 description.",
                  "created": "2024-08-27T12:00:00-04:00",
                  "uid": "a157e2a8-1db7-4ef2-adc1-90e109af0557",
                  "revision_number": 1,
                  "name": "Resource 3",
                  "url": "example-3.org",
                  "thumbnail": "/v1/media/resources/thumbnails/a157e2a8-1db7-4ef2-adc1-90e109af0557/3/resource_3.png",
                  "type": "Resource Type 3",
                  "download": false,
                  "active": true,
                  "previous_revision": null
              },
              "created": "2025-01-14T10:26:59.958472-05:00",
              "rank": 1
            }
    CreateFavoriteBadRequestResponse:
      title: "Create `Favorite` error response due to bad request parameters."
      example: "Favorite already exists for User: {user} and Resource id: {resource}."

    CreateFavoriteUnAuthorizedResponse:
      title: "Create `Favorite` error response due to unauthorized access."
      example: "Not authorized to access resource."

    CreateFavoriteUserDoesNotExistResponse:
      title: "Create `Favorite` error response due to using an email for a user that
        does not exist."
      example: "User (email={user}) does not exist."

    CreateFavoriteResourceDoesNotExistResponse:
      title: "Create `Favorite` error response due to using an id for a `Resource` that
        does not exist."
      example: "An active Resource (id={resource}) does not exist."

    CreateQueryFilterStateRequest:
      title: "Create `QueryFilterState` request."
      type: object
      properties:
        search:
          type: integer
          description: Id of the `Query` made by the user.
          default: null
        functions:
          type: array[int]
          description: Ids of `Function`s selected by the user.
          default: []
        employee_levels:
          type: array[int]
          description: Ids of `EmployeeLevel`s selected by the user.
          default: []
        tags:
          type: array[int]
          description: Ids of `Tag`s for resources selected by the user.
          default: []

    CreateQueryFilterStateResponse:
      title: "Create `QueryFilterState` response."
      type: object
      properties:
        data:
          type: object
          description: A created `QueryFilterState`.
          example:
            {
              "id": 1,
              "search": {
                "id": 1,
                "user": {
                  "id": 1,
                  "username": "May.Parker@harris.com",
                  "email": "May.Parker@harris.com",
                  "first_name": "May",
                  "last_name": "Parker",
                  "is_active": True,
                },
                "resources": [
                  {
                    "id": 1,
                    "employee_levels": [
                      {
                        "id": 1,
                        "name": "Employee",
                        "description": "Employee Level 1.",
                        "created": "2024-08-27T12:00:00-04:00",
                        "modified": "2024-08-27T12:00:00-04:00",
                        "level": 1,
                      },
                      ...
                    ],
                    "subfunctions": [
                      {
                        "id": 1,
                        "function": {
                          "id": 1,
                          "name": "Function 1 Name",
                          "description": "Function 1 Description.",
                          "created": "2024-08-27T12:00:00-04:00",
                          "modified": "2024-08-27T12:00:00-04:00",
                        },
                        "name": "Function 1 SubFunction 1 Name",
                        "description": "Function 1 SubFunction 1 Description.",
                        "created": "2024-08-27T12:00:00-04:00",
                        "modified": "2024-08-27T12:00:00-04:00",
                      },
                      ...
                    ],
                    "tags": [
                      {
                        "id": 1,
                        "created": "2024-08-27T12:00:00-04:00",
                        "modified": "2024-08-27T12:00:00-04:00",
                        "label": "example",
                      },
                      ...
                    ],
                    "description": "Resource 1 Revision 1 description.",
                    "created": "2024-10-01T12:00:00-04:00",
                    "uid": "000000000000-0000000000-000000000000",
                    "revision_number": 1,
                    "name": "Resource 1 Revision 1",
                    "url": "example-site.org",
                    "thumbnail": "/path/to/thumbnail.png",
                    "type": "Resource Type 1",
                    "download": False,
                    "active": True,
                    "previous_revision": None,
                  },
                  ...
                ],
                "created": "2024-10-01T12:00:00-04:00",
                "search_term": "Resource 1",
              },
              "user": {
                "id": 1,
                "username": "May.Parker@harris.com",
                "email": "May.Parker@harris.com",
                "first_name": "May",
                "last_name": "Parker",
                "is_active": True,
              },
              "functions": [1],
              "employee_levels": [1],
              "tags": [1],
              "created": "2024-08-27T12:00:00-04:00",
              "modified": "2024-08-27T12:00:00-04:00",
            }

    CreateQueryFilterStateUnAuthorizedResponse:
      title: "Create `QueryFilterState` error response due to unauthorized access."
      example: "Not authorized to access resource."

    CreateQueryFilterStateQueryDoesNotExistErrorResponse:
      title: "Create `QueryFilterState` error response due to supplying an id
        for a `Query` that does not exist."
      example: "Query (id=query_id), does not exist."

    CreateQueryFilterStateFunctionDoesNotExistErrorResponse:
      title: "Create `QueryFilterState` error response due to supplying an id
        for a `Function` that does not exist."
      example: "Some Functions (ids={functions}) do not exist."

    CreateQueryFilterStateEmployeeLevelDoesNotExistErrorResponse:
      title: "Create `QueryFilterState` error response due to supplying an id
        for an `EmployeeLevel` that does not exist."
      example: "Some EmployeeLevels (ids={employee_levels}) do not exist."

    CreateQueryFilterStateTagDoesNotExistErrorResponse:
      title: "Create `QueryFilterState` error response due to supplying an id
        for a `Tag` that does not exist."
      example: "Some Tags (ids={tags}) do not exist."

    FetchEmployeeLevelsResponse:
      title: "Fetch `EmployeeLevel` response."
      type: object
      properties:
        data:
          type: array
          items:
            type: object
          example:
            [
              {
                "id": 1,
                "name": "Employee Level 1 Name",
                "description": "Employee Level 1 Description.",
                "created": "1970-01-27T12:00:00-04:00",
                "modified": "1970-01-27T12:00:00-04:00",
                "level": 1
              },
              {
                "id": 2,
                "name": "Employee Level 2 Name",
                "description": "Employee Level 2 Description.",
                "created": "2024-08-27T12:00:00-04:00",
                "modified": "2024-08-27T12:00:00-04:00",
                "level": 2
              },
              ...
            ]
  
    FetchEmployeeLevelByIdResponse:
      title: "Fetch `EmployeeLevel` by id response."
      type: object
      properties:
        data:
          type: object
          example:
            {
              "id": 1,
              "name": "Employee Level 1 Name",
              "description": "Employee Level 1 Description.",
              "created": "1970-01-27T12:00:00-04:00",
              "modified": "1970-01-27T12:00:00-04:00",
              "level": 1
            }
      
    FetchEmployeeLevelByIdDoesNotExistResponse:
      title: "Fetch `EmployeeLevel` error response due to using an id that
        does not exist."
      example: "Employee Level (id=employee_level_id), does not exist."

    FetchFunctionsResponse:
      title: "Fetch `Function` response."
      type: object
      properties:
        data:
          type: array
          items:
            type: object
          example:
            [
              {                
                "id": 1,
                "name": "Function 1 Name",
                "description": "Function 1 Description.",
                "created": "1970-01-01T12:00:00-04:00",
                "modified": "1970-01-01T12:00:00-04:00"
              },                
              {               
                "id": 2,
                "name": "Function 2 Name",
                "description": "Function 2 Description.",
                "created": "1970-01-01T12:00:00-04:00",
                "modified": "1970-01-01T12:00:00-04:00"
              },              
              ...
            ]  
    
    FetchFunctionByIdResponse:
      title: "Fetch `Function` by id response."
      type: object
      properties:
        data:
          type: object
          example:
            {                
                "id": 1,
                "name": "Function 1 Name",
                "description": "Function 1 Description.",
                "created": "1970-01-01T12:00:00-04:00",
                "modified": "1970-01-01T12:00:00-04:00"
            }
                
    FetchFunctionByIdDoesNotExistResponse:
      title: "Fetch `Function` error response due to using an id that
        does not exist."
      example: "Function (id=function_id), does not exist."

    FetchQueryFilterStateResponse:
      title: "Fetch `QueryFilterState` response."
      type: object
      properties:
        data:
          type: object
          description: A `QueryFilterState`.
          example:
            {
              "id": 1,
              "search": {
                "id": 1,
                "user": {
                  "id": 1,
                  "username": "Test.User@harris.com",
                  "email": "Test.User@harris.com",
                  "first_name": "Test",
                  "last_name": "User",
                  "is_active": True,
                },
                "resources": [
                  {
                    "id": 1,
                    "employee_levels": [
                      {
                        "id": 1,
                        "name": "Employee",
                        "description": "Employee Level 1.",
                        "created": "1970-01-01T12:00:00-04:00",
                        "modified": "1970-01-01T12:00:00-04:00",
                        "level": 1,
                      },
                      ...
                    ],
                    "subfunctions": [
                      {
                        "id": 1,
                        "function": {
                          "id": 1,
                          "name": "Function 1 Name",
                          "description": "Function 1 Description.",
                          "created": "1970-01-01T12:00:00-04:00",
                          "modified": "1970-01-01T12:00:00-04:00",
                        },
                        "name": "Function 1 SubFunction 1 Name",
                        "description": "Function 1 SubFunction 1 Description.",
                        "created": "1970-01-01T12:00:00-04:00",
                        "modified": "1970-01-01T12:00:00-04:00",
                      },
                      ...
                    ],
                    "tags": [
                      {
                        "id": 1,
                        "created": "1970-01-01T12:00:00-04:00",
                        "modified": "1970-01-01T12:00:00-04:00",
                        "label": "example",
                      },
                      ...
                    ],
                    "description": "Resource 1 Revision 1 description.",
                    "created": "1970-01-01T12:00:00-04:00",
                    "uid": "000000000000-0000000000-000000000000",
                    "revision_number": 1,
                    "name": "Resource 1 Revision 1",
                    "url": "example-site.org",
                    "thumbnail": "/path/to/thumbnail.png",
                    "type": "Resource Type 1",
                    "download": False,
                    "active": True,
                    "previous_revision": None,
                  },
                  ...
                ],
                "created": "1970-01-01T12:00:00-04:00",
                "search_term": "Resource 1",
              },
              "user": {
                "id": 1,
                "username": "Test.User@harris.com",
                "email": "Test.User@harris.com",
                "first_name": "Test",
                "last_name": "User",
                "is_active": True,
              },
              "functions": [1],
              "employee_levels": [1],
              "tags": [1],
              "created": "1970-01-01T12:00:00-04:00",
              "modified": "1970-01-01T12:00:00-04:00",
            }

    FetchQueryFilterStateUnAuthorizedResponse:
      title: "Fetch `QueryFilterState` error response due to unauthorized access."
      example: "Not authorized to access resource."
    
    FetchQueryFilterStateUserDoesNotExistResponse:
      title: "Fetch `QueryFilterState` error response due to using an email that
        does not exist."
      example: "User (email={user}) does not exist."

    FetchQueryFilterStateQueryFilterStateForUserDoesNotExistResponse:
      title: "Fetch `QueryFilterState` error response due to using an email for
        a `User` that does not have an associated `QueryFilterState`."
      example: "QueryFilterState (user={user}) does not exist."

    FetchProfileResponse:
      title: "Fetch `Profile` response."
      type: object
      properties:
          data:
            type: object
            example:
              {
                "id": 1,
                "user": {
                    "id": 1,
                    "username": "May.Parker@harris.com",
                    "email": "May.Parker@harris.com",
                    "first_name": "May",
                    "last_name": "Parker",
                    "is_active": True,
                },
                "segment": {
                    "id": 1,
                    "name": "SPACE & AIRBORNE SYSTEMS",
                    "description": "Space & Airborne Systems is a provider of mission solutions.",
                },
                "uid": "618549",
                "middle_initial": "M",
                "unix_name": "U194879",
                "job_title": "Sr Assoc, Software Engrg",
                "job_function": "Engineering",
                "job_family": "Software Engineering",
                "job_category": "Person",
                "job_level": 2,
                "account_type": "Employee",
                "status": "Active",
                "division": "ESI",
                "business_unit": "GCS",
                "department": "SW-Image Processing",
                "location": "FL",
                "citizenship": "US",
              }
    
    FetchProfileUnAuthorizedResponse:
      title: "Fetch `Profile` error response due to unauthorized access."
      example: "Not authorized to access resource."

    FetchProfilePermissionsDeniedResponse:
      title: "Fetch `Profile` Error response due to invalid permissions."
      example: "Permissions Denied."

    FetchSubFunctionsResponse:
      title: "Fetch `SubFunction` response."
      type: object
      properties:
        data:
          type: array
          items:
            type: object
          example:
            [
              {
                "id": 1,
                "function": {
                  "id": 1,
                  "name": "Function 1 Name",
                  "description": "Function 1 Description.",
                  "created": "2024-08-27T12:00:00-04:00",
                  "modified": "2024-08-27T12:00:00-04:00"
                },
                "name": "SubFunction 1 Name",
                "description": "Function 1 SubFunction 1.",
                "created": "2024-08-27T12:00:00-04:00",
                "modified": "2024-08-27T12:00:00-04:00"
              },
              {
                "id": 2,
                "function": {
                  "id": 1,
                  "name": "Function 1 Name",
                  "description": "Function 1 Description.",
                  "created": "2024-08-27T12:00:00-04:00",
                  "modified": "2024-08-27T12:00:00-04:00"
                },
                "name": "SubFunction 2 Name",
                "description": "Function 1 SubFunction 2.",
                "created": "2024-08-27T12:00:00-04:00",
                "modified": "2024-08-27T12:00:00-04:00"
              },
              ...
            ]
    
    FetchSubFunctionByIdResponse:
      title: "Fetch `SubFunction` by id response."
      type: object
      properties:
        data:
          type: object
          example:
            {
              "id": 1,
              "function": {
                "id": 1,
                "name": "Function 1 Name",
                "description": "Function 1 Description.",
                "created": "2024-08-27T12:00:00-04:00",
                "modified": "2024-08-27T12:00:00-04:00"
              },
              "name": "SubFunction 1 Name",
              "description": "Function 1 SubFunction 1.",
              "created": "2024-08-27T12:00:00-04:00",
              "modified": "2024-08-27T12:00:00-04:00"
            }
                
    FetchSubFunctionByIdDoesNotExistResponse:
      title: "Fetch `SubFunction` error response due to using an id that
        does not exist."
      example: "SubFunction (id=subfunction_id), does not exist."
    
    FetchTagsResponse:
      title: "Fetch `Tag` response."
      type: object
      properties:
        data:
          type: array
          items:
            type: object
          example:
            [
              {
                "id": 1,
                "created": "1970-01-01T12:00:00-04:00",
                "modified": "1970-01-01T12:00:00-04:00",
                "label": "filter::site:Location_1",
              },
              {
                "id": 2,
                "created": "1970-01-01T12:00:00-04:00",
                "modified": "1970-01-01T12:00:00-04:00",
                "label": "filter::site:Location_2",
              },
              ...
            ]  
    
    FetchTagByIdResponse:
      title: "Fetch `Tag` by id response."
      type: object
      properties:
        data:
          type: object
          example:
            {
              "id": 1,
              "created": "1970-01-01T12:00:00-04:00",
              "modified": "1970-01-01T12:00:00-04:00",
              "label": "filter::site:Location",
            }
    
    FetchTagsInvalidParametersErrorResponse:
      title: "Fetch `Tag` error response due to providing invalid
        parameters."
      example: "Invalid parameters given."

    FetchTagByIdDoesNotExistResponse:
      title: "Fetch `Tag` error response due to using an id that
        does not exist."
      example: "Tag (id=tag_id), does not exist."

    SearchTagsResponse:
      title: "Search `Tag`s response."
      type: object
      properties:
        data:
          type: array
          items:
            type: object
          example:
            [
              {
                "id": 1,
                "created": "2024-08-27T12:00:00-04:00",
                "modified": "2024-08-27T12:00:00-04:00",
                "label": "filter::site:Melbourne"
              },
              {
                "id": 2,
                "created": "2024-08-27T12:00:00-04:00",
                "modified": "2024-08-27T12:00:00-04:00",
                "label": "filter::site:Rochester"
              },
              ...
            ]

    UpdateQueryFilterStateRequest:
      title: "Update `QueryFilterState` request."
      type: object
      properties:
        search:
          type: integer
          description: Id of the `Query` made by the user.
          default: null
        functions:
          type: array[int]
          description: Ids of `Function`s selected by the user.
          default: []
        employee_levels:
          type: array[int]
          description: Ids of `EmployeeLevel`s selected by the user.
          default: []
        tags:
          type: array[int]
          description: Ids of `Tag`s for resources selected by the user.
          default: []

    UpdateQueryFilterStateResponse:
      title: "Update `QueryFilterState` response."
      type: object
      properties:
        data:
          type: object
          description: An updated `QueryFilterState`.
          example:
            {
              "id": 1,
              "search": {
                "id": 1,
                "user": {
                  "id": 1,
                  "username": "Test.User@harris.com",
                  "email": "Test.User@harris.com",
                  "first_name": "Test",
                  "last_name": "User",
                  "is_active": True,
                },
                "resources": [
                  {
                    "id": 1,
                    "employee_levels": [
                      {
                        "id": 1,
                        "name": "Employee",
                        "description": "Employee Level 1.",
                        "created": "1970-01-01T12:00:00-04:00",
                        "modified": "1970-01-01T12:00:00-04:00",
                        "level": 1,
                      },
                      ...
                    ],
                    "subfunctions": [
                      {
                        "id": 1,
                        "function": {
                          "id": 1,
                          "name": "Function 1 Name",
                          "description": "Function 1 Description.",
                          "created": "1970-01-01T12:00:00-04:00",
                          "modified": "1970-01-01T12:00:00-04:00",
                        },
                        "name": "Function 1 SubFunction 1 Name",
                        "description": "Function 1 SubFunction 1 Description.",
                        "created": "1970-01-01T12:00:00-04:00",
                        "modified": "1970-01-01T12:00:00-04:00",
                      },
                      ...
                    ],
                    "tags": [
                      {
                        "id": 1,
                        "created": "1970-01-01T12:00:00-04:00",
                        "modified": "1970-01-01T12:00:00-04:00",
                        "label": "example",
                      },
                      ...
                    ],
                    "description": "Resource 1 Revision 1 description.",
                    "created": "1970-01-01T12:00:00-04:00",
                    "uid": "000000000000-0000000000-000000000000",
                    "revision_number": 1,
                    "name": "Resource 1 Revision 1",
                    "url": "example-site.org",
                    "thumbnail": "/path/to/thumbnail.png",
                    "type": "Resource Type 1",
                    "download": False,
                    "active": True,
                    "previous_revision": None,
                  },
                  ...
                ],
                "created": "1970-01-01T12:00:00-04:00",
                "search_term": "Resource 1",
              },
              "user": {
                "id": 1,
                "username": "Test.User@harris.com",
                "email": "Test.User@harris.com",
                "first_name": "Test",
                "last_name": "User",
                "is_active": True,
              },
              "functions": [1],
              "employee_levels": [1],
              "tags": [1],
              "created": "1970-01-01T12:00:00-04:00",
              "modified": "1970-01-01T12:00:00-04:00",
            }

    UpdateQueryFilterStateUnAuthorizedResponse:
      title: "Update `QueryFilterState` error response due to unauthorized access."
      example: "Not authorized to access resource."

    UpdateQueryFilterStateForbiddenErrorResponse:
      title: "Update `QueryFilterState` error response due to forbidden access."
      example: "Permissions Denied."

    UpdateQueryFilterStateQueryFilterStateDoesNotExistErrorResponse:
      title: "Update `QueryFilterState` error response due to supplying an id
        for a `QueryFilterState` that does not exist."
      example: "QueryFilterState (id=query_filter_state_id) does not exist."

    UpdateQueryFilterStateQueryDoesNotExistErrorResponse:
      title: "Update `QueryFilterState` error response due to supplying an id
        for a `Query` that does not exist."
      example: "Query (id=query_id) does not exist."

    UpdateQueryFilterStateFunctionDoesNotExistErrorResponse:
      title: "Update `QueryFilterState` error response due to supplying an id
        for a `Function` that does not exist."
      example: "Some Functions (ids={functions}) do not exist."

    UpdateQueryFilterStateEmployeeLevelDoesNotExistErrorResponse:
      title: "Update `QueryFilterState` error response due to supplying an id
        for an `EmployeeLevel` that does not exist."
      example: "Some EmployeeLevels (ids={employee_levels}) do not exist."

    UpdateQueryFilterStateTagDoesNotExistErrorResponse:
      title: "Update `QueryFilterState` error response due to supplying an id
        for a `Tag` that does not exist."
      example: "Some Tags (ids={tags}) do not exist."
