.action-list {
  display: flex;
}

.checkbox-wrapper {
  margin: 0.6rem 0.3rem;
}

.compact-cell {
  height: 42px;
  padding: 0.25rem 0.25rem; /* adjust as you like */
}

.expanded-content {
  display: flex;
  gap: 1rem;
}

.owner-cell {
  max-width: 20ch;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.show-archived-label {
  align-items: center;
  display: flex;
  font-size: 1.1rem;
  font-weight: 500;
  gap: 0.5rem;
}

.task-action-button {
  background: inherit;
  border: none;
  cursor: pointer;
  height: 2.5rem;
  padding: 0;
}

.task-action-button:hover {
  opacity: 0.65;
}

.task-action-button:disabled {
  color: var(--color-dark-gray);
}

.task-action-button .task-action-icon {
  height: 50%;
  padding: 0 0.2rem;
}

.task-archive {
  color: var(--color-warning);
}

.task-arrow {
  color: var(--color-primary);
}

.task-card {
  background: var(--color-white);
  border: solid var(--color-grayscale-2) 1px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}

.task-card > .task-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.task-card > .task-col > .task-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.task-card > div > span {
  display: flex;
  flex-direction: column;
}

.task-delete {
  color: var(--color-danger);
}

.task-input {
  font-size: 0.8rem;
  font-weight: 500;
  text-overflow: ellipsis;
  width: 11rem;
}

.task-input.autocomplete-input {
  border: 1px solid var(--color-prime-react-border);
  border-radius: 3px;
  width: 15rem;
}

.task-input.autocomplete-input[class*="p-invalid"] {
  border: 1px solid var(--color-danger) !important;
}

.task-input.autocomplete-input[class*="p-inputwrapper-focus"] {
  border: 1px solid var(--color-prime-react-hover);
  border-radius: 2px;
  box-shadow: 0 0 0 2px var(--color-prime-react-focus);
}

.task-input.autocomplete-input[class*="p-inputwrapper-focus"] > input {
  box-shadow: 0 0 0 0;
}

.task-input.autocomplete-input:hover:not([class*="p-inputwrapper-focus"]):has(
    > input:not([class*="p-disabled"])
  ) {
  border: 1px solid var(--color-prime-react-hover);
}

.task-input.autocomplete-input button {
  background-color: var(--color-white);
  border: none;
  color: var(--color-prime-react-icon);
}

.task-input.autocomplete-input input {
  border: 0.8rem;
  font-size: small;
  font-weight: 500;
  text-overflow: ellipsis;
}

.task-input.area-input {
  width: 44rem;
}

.task-input.date-input {
  width: 7.5rem;
}

.task-input.dropdown-input {
  width: 8rem;
}

.task-input.dropdown-input [class*="p-dropdown-label"] {
  font-size: 0.8rem;
}

.task-manager {
  background: var(--color-white);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 2% 2% 1%;
}

.task-manager header {
  align-items: center;
  display: flex;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.task-manager ul {
  background: var(--color-light-gray);
  border: 1px solid var(--color-grayscale-1);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 400px;
  list-style: none;
  overflow-x: auto;
  padding: 1rem;
}

.task-manager ul > li {
  display: flex;
  gap: 0.3rem;
}

@media screen and (min-width: 1350px) {
  .owner-cell {
    max-width: 30ch;
  }
}

@media screen and (min-width: 1600px) {
  .owner-cell {
    max-width: 40ch;
  }
}

@media screen and (min-width: 1800px) {
  .task-input {
    width: 12rem;
  }

  .task-input.area-input {
    width: 47rem;
  }

  .task-input.date-input {
    width: 8.5rem;
  }

  .task-input.dropdown-input {
    width: 10rem;
  }

  .task-input.dropdown-input [class*="p-dropdown-label"] {
    font-size: 1rem;
  }
}
