.resource-search-results > section {
  margin: 0.5rem 2.5rem;
}

.resource-search-results section section summary {
  border: solid 1px var(--color-gray);
}

@container (min-width: 1110px) {
  .resource-search-results > section:nth-of-type(1) > details > summary {
    background-image: url(/banner/nexus.svg);
    background-position: calc(100% + 2.5rem) 108%;
    background-repeat: no-repeat;
    background-size: 400px;
  }
}

@container (min-width: 1200px) {
  .resource-search-results > section:nth-of-type(1) > details > summary {
    background-image: url(/banner/nexus.svg);
    background-position: calc(100% + 100px + 2.5rem) 81.5%;
    background-repeat: no-repeat;
    background-size: 600px;
  }

  .resource-search-results > section:nth-of-type(2) > details > summary {
    background-image: url(/banner/nexus.svg);
    background-position: calc(100% + 100px + 2.5rem) 94.5%;
    background-repeat: no-repeat;
    background-size: 600px;
  }

  .resource-search-results > section:nth-of-type(3) > details > summary {
    background-image: url(/banner/nexus.svg);
    background-position: calc(100% + 100px + 2.5rem) 108%;
    background-repeat: no-repeat;
    background-size: 600px;
  }
}
