@import url("colors.css");
html {
  height: 100%;
  overflow-y: auto;
  width: 100%;
}

body {
  background: var(--color-light-gray);
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0.4em;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-light-gray);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-medium-gray);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark-gray);
}
