@import url("colors.css");
html {
  height: 100%;
  overflow-y: hidden;
  width: 100%;
}

body {
  background: var(--color-light-gray);
  font-family: "IBM Plex Sans", sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#page-content {
  overflow-y: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 0.4em;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-light-gray);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-medium-gray);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark-gray);
}
