.access-add-button-cancel {
  border-color: var(--color-black);
  color: var(--color-black);
  min-width: 8rem;
}

.access-add-button-cancel:hover {
  background: var(--color-grayscale-2);
}

.access-add-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.access-add-button-container button {
  background: var(--color-white);
  border-radius: 4px;
  border-width: 2px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  transition: background-color 0.2s ease;
  width: 5rem;
}

.access-add-button-submit {
  border-color: var(--color-primary);
  color: var(--color-primary);
  min-width: 8rem;
}

.access-add-button-submit:disabled {
  background: var(--color-grayscale-2);
  color: var(--color-white);
}

.access-add-button-submit:disabled {
  background: var(--color-grayscale-2);
  border-color: var(--color-grayscale-2);
  color: var(--color-black);
  cursor: not-allowed;
  opacity: 0.5;
}

.access-add-button-submit:disabled:hover {
  background: var(--color-grayscale-2);
  color: var(--color-black);
}

.access-add-button-submit:hover {
  background: var(--color-primary);
  color: var(--color-white);
}

.access-add-control {
  max-width: 25rem;
  min-width: 22.5rem;
}

.access-add-control > div[class$="-control"] {
  border-radius: 3px !important;
}

.access-add-control > div[class$="-control"] div > div[class$="-multiValue"] {
  border-radius: 16px;
}

.access-add-control
  > div[class$="-control"]
  div
  > div[class$="-multiValue"]
  > div[role="button"]
  svg {
  border: 1px solid var(--color-black);
  border-radius: 8px;
}

.access-add-control div[class$="-indicatorContainer"] {
  background: var(--color-white);
}

.access-add-control div[class*="menu"] > div[role="listbox"] {
  max-height: 10rem;
}

.access-add-control span[class$="-indicatorSeparator"] {
  display: none;
}

.access-add-control svg {
  color: #6c757d;
}

.access-add-control-container {
  margin: 1.5rem auto;
}

.access-add-control-label {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.access-add-controls-modal {
  height: 32.5rem;
  width: 30rem;
}

.access-add-controls-modal-button {
  background: var(--color-white);
  border-color: var(--color-primary);
  border-radius: 4px;
  border-width: 2px;
  color: var(--color-primary);
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  transition: background-color 0.2s ease;
  width: 10rem;
}

.access-add-controls-modal-button > svg {
  margin-right: 0.5rem;
}

.access-add-controls-modal-button:hover {
  background: var(--color-primary);
  color: var(--color-white);
}

.access-filter-control {
  margin: 0.3rem;
  max-width: 25rem;
  min-width: 22.5rem;
}

.access-filter-control > div[class$="-control"] {
  border-radius: 3px !important;
}

.access-filter-control
  > div[class$="-control"]
  div
  > div[class$="-multiValue"] {
  border-radius: 16px;
}

.access-filter-control
  > div[class$="-control"]
  div
  > div[class$="-multiValue"]
  > div[role="button"]
  svg {
  border: 1px solid var(--color-black);
  border-radius: 8px;
}

.access-filter-control div[class$="-indicatorContainer"] {
  background: var(--color-white);
}

.access-filter-control span[class$="-indicatorSeparator"] {
  display: none;
}

.access-filter-control svg {
  color: #6c757d;
}

.access-filter-controls {
  display: block;
}

.access-filter-control-label {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.access-records-list {
  list-style-type: none;
}

.access-records-list article {
  align-items: center;
  background: var(--color-white);
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  gap: 0.8em;
  justify-content: space-between;
  min-width: 40rem;
  padding: 0.75rem;
  margin: 1rem;
}

.access-records-list article div:first-child {
  max-width: 60rem;
}

.access-revoke-button {
  border-color: var(--color-danger);
  color: var(--color-danger);
}

.access-revoke-button:hover {
  background: var(--color-danger);
  color: var(--color-white);
}

.access-revoke-button-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 0.6rem;
  width: 20%;
  height: 3.5rem;
}

.access-revoke-button-container button {
  align-items: center;
  background: var(--color-white);
  border-radius: 4px;
  border-width: 2px;
  margin-right: 0.5rem;
  transition: background-color 0.2s ease;
  cursor: pointer;
  justify-content: center;
  width: 50%;
}

@media screen and (min-width: 1250px) {
  .access-filter-controls {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
