.menu-button-icon {
  align-items: center;
  background: var(--color-stealth);
  border: 2px solid var(--color-data-blue);
  border-radius: 50%;
  display: flex;
  font-size: 1rem;
  height: 2rem;
  justify-content: center;
  width: 2rem;
}

nav button.reset-view-button {
  background: none;
  border: none;
  color: var(--color-white);
  font-size: medium;
  font-weight: 500;
  margin-left: 1em;
}

nav form button:hover {
  cursor: pointer;
  text-decoration: underline;
}
