.favorites {
  > section {
    margin: 0 2.5rem;
  }

  .favorites-resource-links-container {
    background: var(--color-white);
    padding: 1rem;
  }

  .favorite-accordion summary {
    background-image: url(/banner/bi_portal_controls_banner.svg);
    background-size: cover;
  }

  .favorite-accordion summary div:first-of-type {
    border-bottom: solid 0.15rem red;
    border-image: linear-gradient(to right, red 5rem, transparent 10rem) 100% 1;
  }

  .favorites-no-resources {
    align-items: center;
    display: flex;
    font-weight: 700;
    justify-self: center;
    min-height: 12.55rem;
  }
}
