.favorites {
  > section {
    margin: 0 2.5rem;
  }

  .favorites-resource-links-container {
    background: var(--color-white);
    padding: 1rem;
  }

  .favorite-accordion summary div {
    color: var(--color-data-blue);
  }

  .favorites-no-resources {
    align-items: center;
    display: flex;
    font-weight: 700;
    justify-self: center;
    min-height: 11.35rem;
  }
}
