.button-td {
  padding: 0;
}

.confirm-delete-button {
  border-color: var(--color-danger);
  color: var(--color-danger);
}

.confirm-delete-button:hover {
  background-color: var(--color-danger);
  color: var(--color-white);
}

.confirm-save-button {
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.confirm-save-button:hover {
  background: var(--color-primary);
  color: var(--color-white);
}

.confirm-unsaved-button {
  border-color: var(--color-warning);
  color: var(--color-warning);
}

.confirm-unsaved-button:hover {
  background: var(--color-warning);
  color: var(--color-white);
}

.delete-portfolio-button {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: background-color 0.2s ease;
  width: 100%;
}

.delete-portfolio-button:hover {
  background: rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.overwrite-warning {
  color: var(--color-danger);
  display: block;
  font-size: small;
  margin: 0em;
}

.portfolio-menu {
  background: var(--color-white);
  border-left: 1px solid var(--color-grayscale-1);
  display: flex;
  flex: 0.3;
  flex-direction: column;
  gap: 0.5rem;
}

.portfolio-menu-button {
  align-items: center;
  background: none;
  border: none;
  border-radius: 5px;
  display: flex;
  gap: 1rem;
  text-align: start;
  transition: background-color 0.2s ease;
}

.portfolio-menu-button:disabled img {
  opacity: 0.5;
}

.portfolio-menu-button:not(:disabled):hover {
  background: var(--color-light-gray);
  cursor: pointer;
}

.portfolio-name-input {
  border-radius: 5px;
  margin: 5px;
}

.portfolio-table {
  border: solid 1px var(--color-light-gray);
  overflow: hidden;
}

.portfolio-table [class*="p-component-overlay"] {
  background: none;
}

.portfolio-table [class*="p-datatable-emptymessage"] {
  height: 5rem;
  pointer-events: none;
  text-align: center;
}

.portfolio-table tbody > tr {
  transition: background-color 0.2s ease;
}

.portfolio-table tbody > tr:hover {
  background: var(--color-light-gray);
}

.portfolio-table tbody > tr[aria-selected="true"] {
  background: var(--color-grayscale-2);
}

.portfolio-table th {
  background: var(--color-light-gray);
  padding: 0;
}

.portfolio-table th > div {
  color: var(--color-black);
  font-weight: 700;
  gap: 0.3rem;
  padding: 0.2rem 0.7rem;
}

svg.portfolio-menu-icon {
  opacity: 60%;
  padding-right: 0.188rem;
}

@media screen and (min-width: 0px) {
  .button-td {
    border: none;
    width: 2rem;
  }

  .date-long {
    display: none;
  }

  .date-short {
    display: block;
  }

  .delete-portfolio-button {
    height: 2rem;
  }

  .portfolio-menu {
    height: 35%;
    order: 1;
    padding: 0.5rem;
  }

  .portfolio-menu-button {
    font-size: medium;
    padding: 0.5rem;
  }

  .portfolio-progress-bar {
    margin: 0.4rem 0.5rem;
    min-height: 1.5rem;
  }

  .portfolio-table table {
    font-size: 80%;
    min-width: 15rem;
  }

  .power-point-icon {
    height: 16px;
    padding: auto;
    width: 16px;
  }

  .standard-td {
    border: none;
    color: var(--color-black);
    font-weight: 400;
    padding: 0.2rem 0.7rem;
  }
}

@media screen and (min-width: 0px) {
  .portfolio-progress-bar :global(.p-progressbar),
  .portfolio-progress-bar :global(.p-progressbar-label) {
    min-height: 2rem;
  }
}

@media screen and (min-width: 800px) {
  .portfolio-menu {
    height: initial;
    order: 2;
  }

  .portfolio-progress-bar {
    height: 1rem;
    margin: 0.3rem 0.5rem;
  }
}

@media screen and (min-width: 1450px) {
  .button-td {
    width: 3em;
  }

  .date-long {
    display: block;
  }

  .date-short {
    display: none;
  }

  .delete-portfolio-button {
    height: 3rem;
  }

  .portfolio-menu {
    padding: 1rem;
  }

  .portfolio-menu-button {
    font-size: x-large;
    padding: 1rem;
  }

  .portfolio-progress-bar {
    margin: 1rem 0.5rem;
    min-height: 2rem;
  }

  .portfolio-progress-bar :global(.p-progressbar),
  .portfolio-progress-bar :global(.p-progressbar-label) {
    align-items: center;
    height: 2rem;
  }

  .portfolio-table table {
    font-size: initial;
    min-width: 30rem;
  }

  .power-point-icon {
    height: 24px;
    width: 24px;
  }

  .standard-td {
    padding: 0.8rem;
  }
}
