.filter-buttons-container {
  align-items: center;
  column-gap: 1rem;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, 10.5rem);
  row-gap: 1rem;
  width: 100%;
}

.filter-buttons-row {
  display: flex;
  gap: 2rem;
}

.filter-buttons-row button {
  background: var(--color-white);
  color: var(--color-stealth);
  font-size: 100%;
  padding-bottom: 0.1rem;
  padding-top: 0.1rem;
}

.filter-buttons-row button:hover {
  background: var(--color-grayscale-2);
}

.filter-buttons-row button[data-testid="toggle-button-active"]:hover {
  background: var(--color-data-blue);
}
